@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap");
/* Import de la font Roboto depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
  font-family: "Syne", sans-serif;
}
/* On applique un gris plus clair sur les paragraphes */
p {
  color: #000;
}

/*new style*/

.wpcf7-form-control.wpcf7-submit.has-spinner {
  display: flex !important;
  margin: auto !important;
  align-items: center!important;
  align-content: center!important;
  text-align: center!important;
  background-color: #e0b9b4;
  width: 198px;
  height: 55px;
  justify-content: center;
}
.wpcf7-spinner {
  display: none;
}
#quantity {
  width: 39px;
  height: 56px;
  border-radius: 0;
  border: 0px solid #fff;
}
.col-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.image-titre {
  position: relative;
  top: -110px;
  left: 25px;
  font-family: Syne !important;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}
.image-titre-01 {
  position: relative;
  top: -120px;
  left: 25px;
  font-family: Syne !important;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}
.image-titre-02 {
  position: relative;
  top: -120px;
  left: 38px;
  font-family: Syne !important;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}
.image-titre-03 {
  position: relative;
  top: -110px;
  left: 25px;
  font-family: Syne !important;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}
.form-control {
  width: 193px;
  height: 128px;
  margin-left: 42px;
}

input.input-nbox-01 {
  width: 39px !important;
  height: 56px;
  border-radius: 0px;
  display: flex;
  margin: auto;
  margin-top: -40px;
}
input.input-nbox-02 {
  width: 39px !important;
  height: 56px;
  border-radius: 0px;
  display: flex;
  margin: auto;
  margin-top: -65px;
}
input.input-nbox-03 {
  width: 39px !important;
  height: 56px;
  border-radius: 0px;
  display: flex;
  margin: auto;
  margin-top: -65px;
}
input.input-nbox-04 {
  width: 39px !important;
  height: 56px;
  border-radius: 0px;
  display: flex;
  margin: auto;
  margin-top: -40px;
}
.form-inline {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 92px;
  border-top: 1px solid #fff;
  width: 860px;
}
.form-titre {
  margin-top: 53px;
  font-family: syne !important;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.form-element {
  margin-top: 29px;
}
.label {
  font-family: syne;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
 width:100%;
  height: 71px !important;
  margin-top: 13px;
}
.v-line {
  margin-top: 55px;
  border-left: 1px solid #fff;
  height: 447px;
}

/* responsive - modified !!! */

@media (max-width: 921px){
  .image-titre {
    position: relative;
    top: -90px;
    left: 15px;
    font-family: Syne !important;
    font-size: 1.3rem;
    font-weight: 800;
    color: #fff;
  }
  .image-titre-01 {
    position: relative;
    top: -100px;
    left: 10px;
    font-family: Syne !important;
    font-size: 1.3rem;
    font-weight: 800;
    color: #fff;
  }
  .image-titre-02 {
    position: relative;
    top: -100px;
    left: 28px;
    font-family: Syne !important;
    font-size: 1.3rem;
    font-weight: 800;
    color: #fff;
  }
  .image-titre-03 {
    position: relative;
    top: -90px;
    left: 15px;
    font-family: Syne !important;
    font-size: 1.3rem;
    font-weight: 800;
    color: #fff;
  }

  }

/* smartphone and tablette */
@media screen and (max-width: 768px) {
  .col-container {
    flex-direction: column;
    align-items: center;
    margin:auto;
    width: 100%;
    gap:150px;
  }

  .image-titre {
    position: relative;
    top: -150px;
    left: 105px;
    font-family: Syne !important;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
  }
  .image-titre-01 {
    position: relative;
    top: -150px;
    left: 5px;
    font-family: Syne !important;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
  }
  input.input-nbox-02 {
    width: 39px !important;
    height: 56px;
    border-radius: 0px;
    display: flex;
    margin: auto;
    margin-top: -40px;
  }
  .image-titre-02 {
    position: relative;
    top: -150px;
    left: 60px;
    font-family: Syne !important;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
  }
  input.input-nbox-03 {
    width: 39px !important;
    height: 56px;
    border-radius: 0px;
    display: flex;
    margin: auto;
    margin-top: -40px;
  }
  .image-titre-03 {
    position: relative;
    top: -150px;
    left: 85px;
    font-family: Syne !important;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
  }
  input.input-nbox-03 {
    width: 39px !important;
    height: 56px;
    border-radius: 0px;
    display: flex;
    margin: auto;
    margin-top: -40px;
  }
  .form-control:nth-child(1) {
    margin-top: 30px;
  }
  .form-control {
    width: 300px;
    display:flex;
    flex-direction: column;
    margin:auto;
 
  }
  .form-inline {
    flex-direction: column;
    width: 90%;
    margin: 190px 20px;
  }

  .wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    width: 90% !important;
  }
  .v-line {
    display: none;
  }

  .wpcf7-form-control.wpcf7-textarea{
   width:90%;
  }

  
}
